node_modules/
dist/
# VS Code codespace
FullStackOpenProject-BackEnd.code-workspace

.env

# Code coverage
.nyc_output/
coverage/

# IDE config
/.idea/
.vscode/settings.json

# Local Netlify folder
.netlify
